<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TomHenry/$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">TomHenry</a>
            </div>
            <div id="navigation">
                <a href="/index.html">Home</a>
                <a href="/contact.html">Contact</a>
                <a href="/music.html">Music</a>
                <a href="/photos.html">Photos</a>
            </div>
        </div>

        <div id="content">
                <!-- <h1>$title$</h1> -->
                $body$
        </div>
        <div id="footer">
                Copyright © 2022-2024 TomHenry Reagan<br>
                Content license: <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a><br>
                Source license: <a href="https://www.gnu.org/licenses/gpl-3.0.en.html#license-text">GPL-3.0</a><br>
                Made with <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>
    </body>
</html>
